{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 47.79126576189569,
    "longitude": 8.839620811510192,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Berlin",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "DE",
    "language": "de",
    "radius": 15
  }
}