# Ignore everything
/*

# Allow GitHub Actions
!.github/
!.github/workflows/
!.github/workflows/*.yaml

# Allow .gitignore itself
!.gitignore

# Allow ONLY these YAML config files
!configuration.yaml
!automations/
!automations/*.yaml
!scripts.yaml
!scenes.yaml
!sensors.yaml
!switches.yaml
!templates.yaml
!input_booleans.yaml
!input_numbers.yaml
!input_selects.yaml
!modbuses.yaml
!rest_commands.yaml
!simulationen.txt

# NEVER track secrets
secrets.yaml